.react-datepicker {
  border: 1px solid #ddd; /* 테두리 변경 */
}

.react-datepicker__header {
  background-color: #f0f0f0; /* 헤더 배경색 변경 */
}

.react-datepicker__time-container {
  background-color: #f7f7f7; /* 시간 선택기 배경색 변경 */
}

.react-datepicker__time-box {
  background-color: #fff; /* 시간 선택 박스 배경색 변경 */
}

.react-datepicker__time-list-item--selected {
  background-color: #4a90e2; /* 선택된 시간의 배경색 변경 */
}

.calendar-container {
  display : flex;
  flex-direction: row;
  margin-top : 10px;
}

.my-custom-datepicker {
  height: 20px;
  padding-left: 10px;
  border: 1px solid black;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  &:hover {
    background-color: #3d91ff;
  }
}
