.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lato';
    color : white;
  }
  
  .app-input-container {
    width : 200px;
    height : 30px;
    font-size : 20px;
    margin-bottom : 10px;
    text-align: center;
    &:focus{
      border: none;
    }

  }

  